body {
  background-color: rgb(238, 221, 187);
  color: rgb(119, 51, 0);
  font-family: 'Slabo 27px', serif;
}

h1 {
  color: rgb(51, 68, 34);
  font-family: 'Fahkwang', sans-serif;
}

h2 {
  color: rgb(51, 68, 34);
  font-family: 'Cousine', monospace;
}

div.ingredients {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(51, 68, 34);
  padding: 1em;
}

div.instruction {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(51, 68, 34);
  padding: 1em;
}

div.details {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(51, 68, 34);
  padding: 1em;
}
